/* Banner */
.banner {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
    background-attachment: fixed;
}
/* Formatando imagem banner */
.banner-img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    object-position: top;
    margin: 0;
    padding: 0;
}

.banner-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(9, 32, 76, 0.9) 100%);
    pointer-events: none;
}

/* CARROSSEL */
#promoCarousel img {
    border-radius: 25px !important;
    object-fit: cover;
}

#promoCarousel .carousel-caption {
    bottom: 15px;
    left: 15px;
    right: auto;
    max-width: 70%;
}

/* Botões menores e fora da imagem */
.carousel-control-prev,
.carousel-control-next {
  width: 50px;          /* área de clique menor */
  height: 50px;
  top: 50%;             /* centraliza verticalmente */
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.9); /* opcional: fundo semitransparente */
  border-radius: 50%;   /* opcional: botão arredondado */
}

/* Alinha para fora da imagem */
.carousel-control-prev {
  left: -60px;   /* empurra para fora do carrossel */
}

.carousel-control-next {
  right: -60px;  /* empurra para fora do carrossel */
}

/* Ícones menores */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
}

/* Caixa de texto carrossel */
#promoCarousel .carousel-caption h5,
#promoCarousel .carousel-caption span,
#promoCarousel .carousel-caption p,
#promoCarousel .carousel-caption a {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

/* Informações carrossel direita */
.small-banner-caption {
    bottom: 0;         /* fixa no rodapé da imagem */
    left: 15px;        /* afasta da borda esquerda */
    right: 15px;       /* limita para não estourar à direita */
    padding: 8px 10px; /* espaço interno opcional */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}
